@charset "UTF-8";

/* クマ */
#beacchi {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

/* 吹き出しの入れ物 */
#balloon_container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 230px;
	width: 400px;
}

/* 吹き出し */
#balloon {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: left bottom;
}

/* 吹き出しの中のセリフ */
#message {
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
}

/* 声の大きさで吹き出しが変わる */
.shout {
	background-image: url('../img/balloon_shout.png');
	opacity: 0;
	transition: all .5s;
}
/* 吹き出しの形に合わせてセリフの位置を調整 */
.shout #message {
	font-weight: bold;
	font-size: 1.2em;
	top: 40px;
	left: 50px;
	width: 200px;
	height: 120px;
}

.say {
	background-image: url('../img/balloon_say.png');
	opacity: 0;
	transition: all 1s;
}
.say #message {
	top: 40px;
	left: 50px;
	width: 200px;
	height: 140px;
}

.think {
	background-image: url('../img/balloon_think.png');
	opacity: 0;
	transition: all 1.5s;
}
.think #message {
	top: 20px;
	left: 40px;
	width: 220px;
	height: 140px;
}

.disp {
	opacity: 1;
}

/* 下部リンク集 */
.links {
	margin-top: 1.5em;
}

.link {
  color: white;
  background-color: #369CBA;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
  cursor: pointer;
  padding: .3em 1.5em;
  margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;
  font-size: 18px;
	width: 120px;
}

.link i {
  margin-right: 10px;
  vertical-align: middle;
}

.link * {
  vertical-align: middle;
}

.link:hover {
  transform: translate(0px, -2px);
}
